<app-nav-bar></app-nav-bar>
<div class="container" >
    <div class="row">
        <div class="col-12 text-center mt-5">
            <div class="response-table">      
                 <h2>Your profile</h2>
                 <div style="text-align:center;">
             <table style="margin: 0 auto;">


                <tr>
                    <td>
                            <label class="control-label col-md-12">Id:</label>   
                    </td>
                    <td>   
                                <span class="form-control" name="name">{{supporter.idSoporter}}</span>
                    </td>
                </tr>
                <tr>
                        <tr>
                            <td>
                                    <label class="control-label col-md-12">Nombre:</label>   
                            </td>
                            <td>   
                                        <span class="form-control" name="name">{{supporter.nameSupporter}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>     
                                    <label class="control-label col-md-12">Primer apellido:</label>       
                            </td>
                
                            <td>
                                <span class="form-control" name="first_surname">{{supporter.firstSurnameSupporter}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>     
                                <label class="control-label col-md-12">Segundo apellido:</label>
                            </td>
                
                            <td>
                                <span class="form-control" name="second_surname">{{supporter.secondSurnameSupporter}}</span>
                            </td>
                        </tr>

                       <tr>
                            <td>
                                <label class="control-label col-md-12">Correo electrónico:</label>
                            </td>
                            <td>
                                <span class="form-control" name="email">{{supporter.emailSupporter}}</span>
                            </td>
                        </tr>

                    </table>
               
                </div>
            </div>
        </div>

    </div>