<app-nav-bar></app-nav-bar>


<div  style="background-color: white;" >
  <div class="card bg-light" style="background-color: white;" >
    <article class="card-body mx-auto" style="background-color: white;">
      <div class="text-center">
        <i class="fas fa-user-plus fa-6x"></i>
       
    </div>
      <hr>
      <br>
      <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="createUser()">
       
        <table >   
          
          <tr>       
            <td>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="far fa-id-card"></i> </span>
                </div>
                <input id="name" class="form-control" formControlName="name" name=""
                  placeholder="Nombre *" type="text">
              </div> <br>
            </td>
            <td style="width: 2cm;"></td>
            <td>
              <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-at"></i> </span>
                  </div>
                  <input formControlName="email" id="email" name="" class="form-control"
                    placeholder="Correo Electrónico *" type="email">
                </div> <br>
            </td>
          </tr>
            
          <tr>
            <td>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="far fa-address-book"></i> </span>
                </div>
                <input formControlName="firstsurname" id="firstsurname" name=""
                  class="form-control" placeholder="Primer Apellido *" type="text">
              </div> <br>
            </td>
            <td style="width: 2cm;"></td>
            <td>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="far fa-address-book"></i> </span>
                </div>
                <input formControlName="secondsurname" id="secondsurname"  name=""
                  class="form-control" placeholder="Segundo Apellido *" type="text">
              </div> <br>
            </td>
            <td style="width: 2cm;"></td>

          </tr>

          <tr>
            <td>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-unlock-alt"></i> </span>
                </div>
                <input formControlName="password" id="password" class="form-control"
                  placeholder="Crear Contraseña *" type="password">
              </div> <br>
            </td>
          </tr>   
        </table>

        <div class="form-group input-group">
          <label for="">Seleccione los servicios que posee:</label>
          <hr>
        </div>
        <div class="form-group input-group">

          <div class="row" style="width: 1.5cm;">
          </div>

                <div class="row">
                  <div class="col" style="width: 140px;">
                <mat-checkbox color="warn" formControlName="telephone" class="form-check-input" type="checkbox" id="telephone">
                  Teléfono
                </mat-checkbox>
                  </div>
                <div class="col" style="width: 140px;"> 
                  <mat-checkbox color="primary" formControlName="mobilephone" class="form-check-input" type="checkbox" id="mobilephone">       
                    Celular                
                  </mat-checkbox>
                </div>
              </div> <br>

              <div class="row" style="width: 2cm;">
                </div>

              <div class="row" style="height: 50px;">
                <div class="col" style="width: 140px;">
                  <mat-checkbox  formControlName="cable" class="form-check-input" type="checkbox" id="cable">  
                    Cable
                  </mat-checkbox>
                </div>
              <div class="col" style="width: 140px;"> 
                <mat-checkbox color="warn"  formControlName="internet" class="form-check-input" type="checkbox" id="internet">
                  Internet
                </mat-checkbox>
              </div>
            </div> 
            
        </div>
        <hr>
        <div class="form-group">
          <button type="submit" class="btn btn-info btn-block"> Crear Cuenta </button>
        </div>

      </form>
    </article>
  </div>
</div>
